.profileDP {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.dropDown {
  transform: translate(-25%, 0%);
  position: absolute;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px 10px;
  transition: all 0.25s ease;
  top: 50px;
  overflow: hidden;
  font-size: 0.9em;
}

.dropDown .button,
.dropDown p {
  cursor: pointer;
  border: 1px solid white;
  border-left: none;
  border-right: none;
}

.dropDown p {
  font-size: 1em;
  outline: none;
  border: none;
  background-color: transparent;
}

.dropDown .button:hover {
  width: 100%;
  border-bottom: 1px solid rgba(201, 201, 201, 0.515);
  border-top: 1px solid rgba(201, 201, 201, 0.515);
}

.dropDown p:hover {
  width: 100%;
  border-bottom: 1px solid rgba(201, 201, 201, 0.515);
  border-top: 1px solid rgba(201, 201, 201, 0.515);
}
