.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 150px;
    padding: 30px;
    background: rgb(235, 235, 235, 20%);
    border-radius: 30px;
}

.container .profileCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .profileCard div button{
    background: rgb(240, 240, 240, 40%);
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.container .profileCard div button:hover:before{
    content: "Delete";
    position: absolute;
    font-size: 1.6em;
    transform: translate(-15%, -120%);
    background: rgba(255, 255, 255, 30%);
    padding: 5px 10px;
    border-radius: 20px;
}

.container .profileCard div button svg{
    font-size: 3em;
    padding: 10px;
}

.profile{
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
}

.profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile .profileInfo{
    padding: 10px 0px;
}

.profile .profileInfo p{
    line-height: 0px;
}

.blogPart div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog input, .container textarea{
    font-size: 1.2em;
    margin: 20px 0px;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.blog input{
    margin: 0px;
}

.blog textarea{
    overflow: auto;
    resize: none;
}

.blog button{
    max-width: 100px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.actionButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.actionButtons svg {
    cursor: pointer;
}