.container{
    display: flex;
    /* justify-content: space-around; */
    margin: 20px 120px;
    padding: 50px;
    /* align-items: center; */
    gap: 20px;
}


.profile{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    gap: 10px;
    min-width: 350px;
    height: 350px;
    background: rgb(235, 235, 235, 5%);
    border-radius: 30px;
    padding: 20px;
}

.profileCard, .contact, .blogInfo{
    background: rgb(235, 235, 235, 10%);
    border-radius: 10px;
    padding: 10px;
}

.profileCard{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profileCard .pic{
    text-align: center;
}

.profileCard .pic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile .blogInfo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogsContainer{
    background: rgb(235, 235, 235, 10%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blogCard{
    background-color: rgb(218, 218, 218);
    border-radius: inherit;
    overflow: hidden;
    padding: 20px;
}

.profilePostCard{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profilePostCard .pic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.blogCard .blogPart img{
    width: 800px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.actionButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
