.container{
    display: flex;
    /* justify-content: space-around; */
    margin: 20px 120px;
    padding: 50px;
    /* align-items: center; */
    gap: 20px;
}


.profile{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    gap: 10px;
    min-width: 350px;
    height: 350px;
    background: rgb(235, 235, 235, 5%);
    border-radius: 30px;
    padding: 20px;
}

.profileCard, .contact, .blogInfo{
    background: rgb(235, 235, 235, 10%);
    border-radius: 10px;
    padding: 10px;
}

.profileCard{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profileCard .pic{
    text-align: center;
}

.profileCard .pic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile .blogInfo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogsContainer{
    background: rgb(235, 235, 235, 10%);
    max-width: 70%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blogCard{
    background-color: rgb(218, 218, 218);
    border-radius: inherit;
    /* overflow: hidden; */
    padding: 20px;
    max-width: 800px;
}

.profileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileContainer .actionButtons {
    display: flex;
    gap: 10px;
}

.profileContainer .actionButtons div{
    /* display: flex; */
}

.popUp {
    align-items: center;
    margin: 0px;
    background: transparent;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    position: relative; /* Ensure relative positioning for pseudo-elements */
}

.popUp svg {
    color: rgb(44, 44, 44);
}

.popUp:hover {
    background-color: rgba(99, 99, 99, 0.158);
    cursor: pointer;
}

.popUp svg:active {
    color: rgb(0, 0, 0);
}

.popUp:before {
    content: ""; /* Empty content */
    position: absolute;
    top: -100%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(99, 99, 99, 0.158);
    padding: 10px;
    border-radius: 20px;
    white-space: nowrap; /* Prevent wrapping */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add transition for smooth appearance */
}

.popUp:hover:before {
    opacity: 1; /* Show the pseudo-element on hover */
}

.copyPopUp:before {
    content: "Copied!!";
}

.bookmarkPopUp:before {
    content: "Bookmarked!!";
}


.profilePostCard{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profilePostCard .pic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.blogCard .blogPart p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.blogCard .blogPart img{
    width: 800px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/* ye .actionButtons Like comment views walla h */
/* 
.actionButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 15px;
} */
