.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 150px;
    padding: 50px;
    /* align-items: center; */

}

.profile{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.profile .pic, .description, .stats{
    background: rgb(235, 235, 235, 10%);
    border-radius: 30px;
}

.profile .pic{
    min-width: 300px;
    text-align: center;
    border-radius: 30px;
}

.profile .pic img{
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile .pic p{
    margin: 0px;
    font-size: 1.2em;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 50px;
    border-radius: 30px;
    font-size: 1.2em;
}

.description .details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.description .details input{
    font-size: 1.2em;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: rgb(255, 255, 255, 10%);
}

.description .details input:disabled{
    color: black;
    background: transparent;
}

.description .actionButtons{
    margin-left: 20px;
    display: flex;
    gap:10px;
}

.description .actionButtons button{
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.stats{
    display: flex;
    justify-content: center;
}

.stats div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    font-size: 1.2em;
    align-items: flex-start;
}

.stats span{
    background: rgb(255, 255, 255, 20%);
    padding: 10px;
    border-radius: 10px;
}

.stats span:hover{
    background: rgb(255, 255, 255, 30%);
    cursor: pointer;
}

.section2{
    background: rgb(235, 235, 235, 10%);
    border-radius: 30px;
    margin: 50px 0px;
    padding: 20px 20px;
    overflow: hidden;
    flex: 1;
}

.section2 .slideBar{
    background: rgb(235, 235, 235, 10%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: inherit;
}

.section2 .slideBar div{
    padding: 5px 20px;
}

.section2 .slideBar div button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
}

.section2 .slideBar div:hover{
    background: rgb(235, 235, 235, 20%);
    cursor: pointer;
    border-radius: inherit;
}

.section2 .slideBar div button:hover{
  cursor: pointer;
}

.section2 .data{
    display: grid;
    margin: auto;
    margin-top: 40px;
    padding: 0px 22px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

